@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto.ttf);
}

html {
  font-family: "Roboto";
  font-size: 18px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.none {
  display: none;
}

.header {
  font-weight: 800;
  font-size: 36px;

  margin: 45px auto 30px;
}
