.add-button,
.show-button {
  display: block;
  margin: 30px auto;
}

.textarea_cont {
  margin: 30px auto;
}

.text-block {
  margin: 30px auto;
  padding: 15px;

  border: 1px solid black;
}

.text-block_header {
  font-weight: 600;
  font-size: 20px;

  margin-bottom: 20px;
}

.edit-button,
.delete-button {
  display: block;

  width: 150px;
  height: 50px;

  margin-top: 15px;
}

.inner-textarea {
  width: 100%;

  font-family: "Roboto";
  font-size: 18px;
}
